<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>
<body>
<h2>Student Form</h2>
<form action="/students/save" method="post" th:object="${student}">
    <label>First Name: <input type="text" th:field="*{firstName}"></label><br>
    <label>Last Name: <input type="text" th:field="*{lastName}"></label><br>
    <label>Email: <input type="email" th:field="*{email}"></label><br>
    <label>Class Name: <input type="text" th:field="*{className}"></label><br>
    <label>Fee Paid: <input type="number" step="0.01" th:field="*{feePaid}"></label><br>
    <button type="submit">Save</button>
</form>
<br>

<div th:if="${successMessage}" >
    <p th:text="${successMessage}"></p>
</div>


<!-- Generate link for sending email -->
<!--<a th:href="@{/students/send-email(studentId=${student.id})}">Send Email</a>-->
</body>
</html>
